allow auditd :blk_file { rw_dir_perms };
allow auditd :chr_file { create_dir_perms };
allow auditd :chr_file { rw_dir_perms };
allow auditd :chr_file { rwx_file_perms };
allow auditd : { create_dir_perms };
allow auditd :dir { rw_dir_perms };
allow auditd :file { create_dir_perms };
allow auditd :file { link_file_perms };
allow auditd :file { rw_dir_perms };
allow auditd :file { rwx_file_perms };
allow auditd init:binder { create_dir_perms };
allow auditd init:chr_file { rw_dir_perms };
allow auditd init:file { link_file_perms };
allow auditd init:file { rw_dir_perms };
allow auditd init:file { rwx_file_perms };
allow auditd init:lnk_file { rw_dir_perms };
allow auditd init:netlink_kobject_uevent_socket { create_dir_perms };
allow auditd init:netlink_kobject_uevent_socket { rw_dir_perms };
allow auditd init:netlink_socket { create_dir_perms };
allow auditd init:netlink_socket { rw_dir_perms };
allow auditd init:netlink_xfrm_socket { create_dir_perms };
allow auditd init:netlink_xfrm_socket { rw_dir_perms };
allow auditd init:service_manager { create_dir_perms };
allow auditd init:service_manager { rw_dir_perms };
allow auditd init:udp_socket { rw_dir_perms };
allow auditd init:unix_dgram_socket { create_dir_perms };
allow auditd kernel:blk_file { rw_dir_perms };
allow auditd kernel:system { create_dir_perms };
allow auditd :lnk_file { rw_dir_perms };
allow auditd :service_manager { rw_dir_perms };
allow auditd :sock_file { rw_dir_perms };
allow auditd surfaceflinger:binder { create_dir_perms };
allow auditd toolbox:capability { create_dir_perms };
allow auditd toolbox:file { rwx_file_perms };
