type ut_keymaster_device, domain;
type ut_keymaster_device_exec, exec_type, file_type;
type ut_keymaster_device_socket, file_type, mlstrustedobject;
init_daemon_domain(ut_keymaster_device)

allow keystore app_data_file:file write;
allow keystore binderservicedomain:binder transfer;
allow keystore binderservicedomain:dir search;
allow keystore binderservicedomain:file { read open };
allow keystore binderservicedomain:process getattr;
allow keystore bluetooth:binder transfer;
allow keystore bluetooth:dir search;
allow keystore bluetooth:file { read open };
allow keystore bluetooth:process getattr;
allow keystore ecryptfs:dir { rename search setattr read lock create reparent getattr write ioctl rmdir remove_name open add_name };
allow keystore ecryptfs:file { rename setattr read lock create getattr write ioctl unlink open append };
allow keystore fingerprintd:binder transfer;
allow keystore fingerprintd:dir search;
allow keystore fingerprintd:file { read open };
allow keystore fingerprintd:process getattr;
allow keystore gatekeeperd:binder transfer;
allow keystore gatekeeperd:dir search;
allow keystore gatekeeperd:file { read open };
allow keystore gatekeeperd:process getattr;
allow keystore guiext-server:binder { transfer call };
allow keystore guiext-server:fd use;
allow keystore guiext-server_service:service_manager find;
allow keystore hotknot_native:binder { transfer call };
allow keystore hotknot_native:fd use;
allow keystore init:process sigchld;
allow keystore kernel:security compute_av;
allow keystore keystore:capability { fowner dac_override };
allow keystore keystore:dir { search read lock getattr ioctl open };
allow keystore keystore:fd use;
allow keystore keystore:fifo_file { read lock getattr write ioctl open append };
allow keystore keystore:file { read lock getattr write ioctl open append };
allow keystore keystore:lnk_file { read lock ioctl open getattr };
allow keystore keystore:netlink_selinux_socket { name_bind recvfrom send_msg setopt setattr read lock create sendto accept write relabelfrom getattr connect shutdown bind recv_msg relabelto getopt append listen };
allow keystore keystore:process { fork getsession sigkill sigchld setpgid setsched signal getattr setcap sigstop getcap getpgid getsched signull setrlimit };
allow keystore keystore:unix_dgram_socket { setopt setattr read lock create sendto getattr write ioctl connect shutdown bind getopt append };
allow keystore keystore:unix_stream_socket { connectto setopt setattr read lock create getattr accept write ioctl connect shutdown bind getopt append listen };
allow keystore keystore_data_file:dir { rename search setattr read lock create reparent getattr write ioctl rmdir remove_name open add_name };
allow keystore keystore_data_file:fifo_file { rename setattr read lock create getattr write ioctl unlink open append };
allow keystore keystore_data_file:file { rename setattr read lock create getattr write ioctl unlink open append };
allow keystore keystore_data_file:lnk_file { rename setattr read lock create getattr write ioctl unlink open append };
allow keystore keystore_data_file:sock_file { rename setattr read lock create getattr write ioctl unlink open append };
allow keystore keystore_exec:file { read open getattr entrypoint execute };
allow keystore keystore_service:service_manager { add find };
allow keystore keystore_tmpfs:file { read write };
allow keystore mobicore:unix_stream_socket { read write connectto };
allow keystore mobicore_user_device:chr_file { read write ioctl open };
allow keystore nfc:binder transfer;
allow keystore nfc:dir search;
allow keystore nfc:file { read open };
allow keystore nfc:process getattr;
allow keystore platform_app:binder transfer;
allow keystore platform_app:dir search;
allow keystore platform_app:file { read open };
allow keystore platform_app:process getattr;
allow keystore priv_app:binder transfer;
allow keystore priv_app:dir search;
allow keystore priv_app:file { read open };
allow keystore priv_app:process getattr;
allow keystore program_binary:binder { transfer call };
allow keystore program_binary:fd use;
allow keystore racoon:binder transfer;
allow keystore racoon:dir search;
allow keystore racoon:file { read open };
allow keystore racoon:process getattr;
allow keystore radio:binder transfer;
allow keystore radio:dir search;
allow keystore radio:file { read open };
allow keystore radio:process getattr;
allow keystore selinuxfs:file { read lock getattr write ioctl open append };
allow keystore servicemanager:binder { transfer call };
allow keystore shared_relro:binder transfer;
allow keystore shared_relro:dir search;
allow keystore shared_relro:file { read open };
allow keystore shared_relro:process getattr;
allow keystore shell:binder transfer;
allow keystore shell:dir search;
allow keystore shell:file { read open };
allow keystore shell:process getattr;
allow keystore sysfs:dir { search read lock getattr ioctl open };
allow keystore sysfs:file { read lock ioctl open getattr };
allow keystore sysfs:lnk_file { read lock ioctl open getattr };
allow keystore system_app:binder transfer;
allow keystore system_app:dir search;
allow keystore system_app:file { read open };
allow keystore system_app:process getattr;
allow keystore system_data_file:dir { write remove_name };
allow keystore tee:unix_stream_socket connectto;
allow keystore tee_device:chr_file { read lock getattr write ioctl open append };
allow keystore untrusted_app:binder transfer;
allow keystore untrusted_app:dir search;
allow keystore untrusted_app:file { read open };
allow keystore untrusted_app:process getattr;
allow keystore ut_keymaster_device:chr_file { read lock getattr write ioctl open append };
allow keystore wpa:binder transfer;
allow keystore wpa:dir search;
allow keystore wpa:file { read open };
allow keystore wpa:process getattr;
