allow tee ecryptfs:dir { rename search setattr read lock create reparent getattr write ioctl rmdir remove_name open add_name };
allow tee ecryptfs:file { rename setattr read lock create getattr write ioctl unlink open append };
allow tee guiext-server:binder { transfer call };
allow tee guiext-server:fd use;
allow tee guiext-server_service:service_manager find;
allow tee hotknot_native:binder { transfer call };
allow tee hotknot_native:fd use;
allow tee init:process sigchld;
allow tee program_binary:binder { transfer call };
allow tee program_binary:fd use;
allow tee sysfs:dir { search read lock getattr ioctl open };
allow tee sysfs:file { read lock ioctl open getattr };
allow tee sysfs:lnk_file { read lock ioctl open getattr };
allow tee tee:capability dac_override;
allow tee tee:dir { search read lock getattr ioctl open };
allow tee tee:fd use;
allow tee tee:fifo_file { read lock getattr write ioctl open append };
allow tee tee:file { read lock getattr write ioctl open append };
allow tee tee:lnk_file { read lock ioctl open getattr };
allow tee tee:netlink_generic_socket { setopt setattr read lock create getattr write ioctl connect shutdown bind getopt append };
allow tee tee:netlink_socket { setopt setattr read lock create getattr write ioctl connect shutdown bind getopt append };
allow tee tee:process { fork getsession sigkill sigchld setpgid setsched signal getattr setcap sigstop getcap getpgid getsched signull setrlimit };
allow tee tee:unix_dgram_socket { setopt setattr read lock create sendto getattr write ioctl connect shutdown bind getopt append };
allow tee tee:unix_stream_socket { connectto setopt setattr read lock create getattr accept write ioctl connect shutdown bind getopt append listen };
allow tee tee_data_file:dir { search read lock getattr write ioctl remove_name open add_name };
allow tee tee_data_file:file { rename setattr read lock create getattr write ioctl unlink open append };
allow tee tee_device:chr_file { read lock getattr write ioctl open append };
allow tee tee_exec:file { read open getattr entrypoint execute };
allow tee tee_tmpfs:file { read write };
