type teei_daemon, domain;
type teei_daemon_exec, exec_type, file_type;
#type teei_client_device, dev_type;

# define for mlsconstrain
typeattribute teei_client_device mlstrustedobject;

type teei_daemon_tmpfs, domain;
type teei_daemon_tmpfs_exec, exec_type, file_type;
type teei_daemon_tmpfs_socket, file_type, mlstrustedobject;
init_daemon_domain(teei_daemon_tmpfs)

allow teei_daemon cache_file:file { read lock getattr write ioctl open append };
allow teei_daemon device:dir { search read lock getattr write ioctl remove_name open add_name };
allow teei_daemon ecryptfs:dir { rename search setattr read lock create reparent getattr write ioctl rmdir remove_name open add_name };
allow teei_daemon ecryptfs:file { rename setattr read lock create getattr write ioctl unlink open append };
allow teei_daemon fingerprintd_data_file:dir { write search add_name };
allow teei_daemon fingerprintd_data_file:file { read write create open };
allow teei_daemon guiext-server:binder { transfer call };
allow teei_daemon guiext-server:fd use;
allow teei_daemon guiext-server_service:service_manager find;
allow teei_daemon hotknot_native:binder { transfer call };
allow teei_daemon hotknot_native:fd use;
allow teei_daemon init:process sigchld;
allow teei_daemon init:unix_stream_socket connectto;
allow teei_daemon kmsg_device:chr_file { write open };
allow teei_daemon program_binary:binder { transfer call };
allow teei_daemon program_binary:fd use;
allow teei_daemon property_socket:sock_file { read write };
allow teei_daemon soter_teei_prop:property_service set;
allow teei_daemon teei_client_device:chr_file { rename setattr read lock create getattr write ioctl unlink open append };
allow teei_daemon teei_config_device:chr_file { read lock getattr write ioctl open append };
allow teei_daemon teei_daemon:capability { sys_module dac_override };
allow teei_daemon teei_daemon:dir { search read lock getattr ioctl open };
allow teei_daemon teei_daemon:fd use;
allow teei_daemon teei_daemon:fifo_file { read lock getattr write ioctl open append };
allow teei_daemon teei_daemon:file { read lock getattr write ioctl open append };
allow teei_daemon teei_daemon:lnk_file { read lock ioctl open getattr };
allow teei_daemon teei_daemon:process { fork getsession sigkill sigchld setpgid setsched signal getattr setcap sigstop getcap getpgid getsched signull setrlimit };
allow teei_daemon teei_daemon:unix_dgram_socket { setopt setattr read lock create sendto getattr write ioctl connect shutdown bind getopt append };
allow teei_daemon teei_daemon:unix_stream_socket { connectto setopt setattr read lock create getattr accept write ioctl connect shutdown bind getopt append listen };
allow teei_daemon teei_daemon_exec:file { read open getattr entrypoint execute };
allow teei_daemon teei_daemon_tmpfs:file { read write };
allow teei_daemon teei_data_file:dir { rename search setattr read lock create reparent getattr write ioctl rmdir remove_name open add_name };
allow teei_daemon teei_data_file:file { rename setattr read lock create getattr write ioctl unlink open append };
allow teei_daemon teei_rpmb_device:chr_file { read lock getattr write ioctl open append };
allow teei_daemon teei_vfs_device:chr_file { read lock getattr write ioctl open append };
allow teei_daemon ut_keymaster_device:chr_file { read lock getattr write ioctl open append };
